* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --white: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray: hsl(0, 0%, 95%);
}

body {
  background-color: var(--Very-light-gray);
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 70%;
}

.box {
  width: 40% 40% 40%;
  height: 65vh;
  border-radius: 5px;
  padding: 5% 4%;
}

.box#sedans {
  background-color: var(--Bright-orange);
}
.box#suvs {
  background-color: var(--Dark-cyan);
}
.box#luxury {
  background-color: var(--Very-dark-cyan);
}

img {
  padding-bottom: 10px;
}

h1 {
  font-family: 'Big Shoulders Display';
  color: var(--Very-light-gray);
  font-weight: 700;
  margin-bottom: 20px;
}

p {
  font-family: 'Lexend Deca';
  color: var(--white);
  font-weight: 400;
}

button {
  padding: 15px 40px;
  border-radius: 50px;
  margin-top: 50px;
  background-color: var(--Very-light-gray);
  border: none;
  font-family: 'Lexend Deca';
  font-weight: 700;
}

button:hover {
  border: 1px solid white;
}

#sedans button {
  color: var(--Bright-orange);
}

#sedans button:hover {
  color: var(--Very-light-gray);
  background-color: var(--Bright-orange);
}

#suvs button {
  color: var(--Dark-cyan);
}
#suvs button:hover {
  color: var(--Very-light-gray);
  background-color: var(--Dark-cyan);
}

#luxury button {
  color: var(--Very-dark-cyan);
}

#luxury button:hover {
  color: var(--Very-light-gray);
  background-color: var(--Very-dark-cyan);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 0;
    margin: 20px 0;
  }

  .box {
    padding: 10%;
    height: 60vh;
    border-radius: 0;
  }

  .box#sedans {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .box#luxury {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
